/*
body {
  background-color: #fff;
  font-family: tahoma, verdana, arial;
  font-size: 10pt;
}
a {
  text-decoration: none;
  color: #4150DF;
}

a:visited {
  color: #6170FF;
}
a:hover {
  color: #afafaf;
}
*/
table.torrents {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*
th {
  background-color: #eee;
  color: #000;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}
*/
td.size { text-align: right; }
td.num { text-align: center; }
tr.a { background-color: #f6f6f6; }

/*
h1 {
  font-size: 13pt;
  margin-top: 0;
  text-align: center;
}
*/
.footer {
  margin-top: 8px;
  /* border-top: 1px dotted #aaa; */
  text-align: center;
  font-size: 8pt;
  font-weight: normal;
}
div.table {

}
div.warning {
  text-align: center;
  color: #df5041;
}
div.text {
  text-align: center;
}
.small {
  text-align: center;
  font-size: 8pt;
  margin: 0;
}
